*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: visible;
    height: 20vh;
    width: 100%;
    margin-top: 2vh;
    align-items: center;
    background-color: rgb(232, 236, 238);
    

}
.memeimg{
    margin-right: 1vw;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 80%;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(92, 92, 92);
    transition: all 0.2s linear;   
}
.memeimg:hover{
    transform: scale(1.1);
}