*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@media only screen and (max-width: 400px){
  .playground{
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
    
  }
  .tool{
    width: 100%;
  }
}
@media only screen and (min-width: 401px) and 
(max-width: 960px){
  .playground{
  flex-direction: row;
  justify-content: flex-start;

  }
  .tool{
    width: 50%;
  }
}

@media only screen and (min-width: 961px){
  .playground{
  flex-direction: row;
  justify-content: flex-start;

  }
  .tool{
    width: 50%;
  }
}


.app {
  display: flex;
  width: 98%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(238, 235, 235);
  /* background-color: antiquewhite; */
}

.playground{
  display: flex;
  width: 100%;
  /* margin-top: 4vh; */

}
.download{
  display: none;
  width: 80%;
  margin: 2vh auto;

}
.prepare{
  display: none;
  width: fit-content;
  margin-left: auto;
  margin-top: 4vh;
  height: fit-content;
  margin-right: 2vw;
  margin-bottom: 2vh;

}
.button{
  width: fit-content;
  border: 1px solid rgb(59, 138, 217);
  background-color: rgb(59, 138, 217);
  box-shadow: 0px 4px 0px rgb(214, 214, 214);
  cursor: pointer;
  border-radius: 5px;
  color: white;
  padding: 5px;
  transition: all 0.2s ease-in-out;
}
.button:active{
  transform: translateY(4px);
  box-shadow: 0px 0px rgb(117, 117, 117);
  /* border: 2px solid black; */
}
.tool{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 6vw;
  

}
/* .tool > *{
  margin-bottom: 1vh;
} */


