.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.playground{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
}